[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "deps/SDL_image"]
	path = deps/SDL_image
	url = https://github.com/libsdl-org/SDL_image.git
[submodule "deps/SDL_ttf"]
	path = deps/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "deps/yaml-cpp"]
	path = deps/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "deps/arg"]
	path = deps/arg
	url = https://github.com/snailbaron/arg.git
[submodule "deps/flatbuffers"]
	path = deps/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "deps/protobuf"]
	path = deps/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "deps/asio"]
	path = deps/asio
	url = https://github.com/chriskohlhoff/asio.git
